@use '../mixins';
@use '../variables';
ul {
  padding: 0;
  li {
    list-style: none;
    margin: 0 0 2rem 0;
    padding: 0;
  }
}
.comment-comment-list {

  .comment-comment-list-item {

    .comment-response-list {
      margin-left: 2rem;
      .comment-response-list-item {
      }
    }
  }
}
.comment-comment-title, .comment-response-title{
  margin-top: 1rem;
  margin-bottom: .5rem;
}
.comment-comment-body, .comment-response-body{
  margin-top: 0;
}
